@font-face {
		font famiy:'brave_hunter';
		scr: url('fonts/brave_hunter');		
	}
	  
    body {
      font-family: Raleway;
      margin: 120px;
      margin-top: 0;
      padding: 0;
      background-color: FFFAF7;
      white-space: normal;
    }

    h1 {
	  font-family: brave_hunter;
      font-size: 52px;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 3s ease forwards;
    }
    p {
      font-size: 30px;
      font-weight: 300;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 4s ease forwards;
    }

    header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #F9C9BD;
    }
    header img {
      height: 45px;
      margin-right: 10px;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeUp 3s ease forwards;
    }
    header h1 {
      font-size: 55px;
      margin: 0;
    }

    nav {
      background-color: #FDD8CF;
      padding: 10px 20px;
    }
    nav a {
      margin-right: 15px;
      text-decoration: none;
      color: #333;
    }

    main {
      padding: 20px 40px;
    }

    .intro {
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px;
    }
    .intro-text {
      flex: 2;
      margin-right: 20px;
    }
    .intro-img {
      flex: 1;
    }
    .intro-img img {
      height: 1080px;
      width: 530px;
      border: 8px solid #ccc;
    }

	.standart-img {
		flex:1;
	}
    .standart-img img {
      height: 300px;
      width: 480px;
      margin-bottom: 15px;
      flex:1;
    }

	.list{
        list-style: none;
  		padding: 0;
  		margin: 0;
        display: flex;
		gap: 10px;          
  		flex-wrap: wrap;
    }
	.list li{
		display: flex;       
  		align-items: center;   
    }
    
.footer {
	text-align: center;
	padding: 3;
	background color: DarkSalmon;
	color: white;
	}
	  .footer-img {
		flex:1;
	}
    .footer-img img {
      height: 120px;
      width: 80px;
      margin-bottom: 15px;
      flex:1;

    #hiddenText {
    margin-left: 10;
    display: flex;
    align-items: right;
  	max-height: 0;                
  	overflow: hidden;           
  	transition: max-height 0.6s ease; 
}

#hiddenText.active {
  max-height: 200px;
}
    

    @keyframes fadeUp {
      from {opacity: 0; transform: translateY(20px);}
      to {opacity: 1; transform: translateY(0);}
    }
	.bounce{
		width: 150;
		animation: jump 2s ease-in-out infinite;
	}
	  @keyframes jump{
		  0%, 100%{
			  transform: translateY(0);
		  }
		  50% {
			  transform: translateY(-20px)
		  }
	  }
